<div class="container-fluid highlight {{page.sub-nav}} halftone-{{page.sub-nav}}">
  <div class="container animate__animated animate__fadeIn">
    <div class="row text-center pt-5">
      <div class="col-12">
        <h2 class="text-uppercase fw-normal">
          {%if page.previous.url %}
            <a href="{{ page.previous.url}}"><i class="fa-solid fa-angles-left opacity-75 d-md-none pe-4"></i></a>
          {% endif %}
          <span class="opacity-50">Case Study</span>
          {%if page.next.url %}
            <a href="{{ page.next.url}}"><i class="fa-solid fa-angles-right opacity-75 d-md-none ps-4"></i></a>
          {% endif %}
        </h2>
      </div>
    </div>
    <div class="d-row {{page.sub-nav}} pb-3">
      <div class="col-12 text-center">
        <div class="d-flex align-items-center text-center">
          <div class="flex-grow-1 border-top" data-aos="fade-right"></div>
          <h1 class="px-5 fw-bold text-uppercase">{{page.title}}</h1>
          <div class="flex-grow-1 border-top" data-aos="fade-left"></div>
       </div>
        <h1 class="case-study pb-2">{% if page.sub-title %}<span class="fw-normal">{{page.sub-title}}</span>{% endif %}</h1>
        <h5 class="eyebrow type-3">Launch Date:<span class="pe-1"></span> {{ page.date | date: "%B, %Y" }}</h5>
        <div class="d-flex justify-content-center"><hr class="w-25 text-light"></div>
      </div>
    </div>
    <div class="row {{page.sub-nav}} justify-content-center py-4">
      <div class="col-lg-6 col-md-12 text-center text-md-start">        
        <p>{{page.description}}</p>
        <div class="row pt-4">
          <div class="col-md-6 col-sm-12 text-center text-md-start">
            {% if page.involvement %}
              <h4>INVOLVEMENT</h4>
              <ul class="{{page.sub-nav}}">
              {% for involvement in page.involvement %}
                <li>{{involvement}}</li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>
          <div class="col-md-6 col-sm-12 text-center text-md-start pt-4 pt-md-0">
            {% if page.technology %}
            <h4>TECHNOLOGY</h4>
            <ul class="{{page.sub-nav}}">
              {% for tech in page.technology %}
                <li>{{tech}}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
        <div class="row pt-4 pb-5">
          <div class="col text-center text-md-start pt-4 pt-md-0">
            {% if page.award-1 %}
            <h4>RECOGNITION</h4>
            <p>
              <ul class="{{page.sub-nav}}">
                <li class="left-bar"><em>"{{page.award-1}}"</em><br>{% if page.award-1-source-url%}<a href="{{page.award-1-source-url}}" class="alt-link"><i class="fa fa-arrow-right"></i> {{page.award-1-source}}</a>{%else%}{%endif%}{{page.award-1-source}}</li>
              </ul>
            </p>
            {% endif %}
            {% if page.directed-by-title %}
            <h4>DIRECTED BY</h4>
            <p>
              {% if page.directed-by-url%}
                <a href="{{page.directed-by-url}}" target="_blank" class="alt-link">{{page.directed-by-title}}</a>
                {% else %}
                {{page.directed-by-title}}
              {% endif %}
            </p>
              {% if page.directed-by-role %}
              <p>
                {{page.directed-by-role}}
              </p>
              {% endif%}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="{% if page.laptop %}col-lg-6{% else %}col-lg-4{%endif%} col-md-12 text-center text-md-start">
        {% if page.laptop %}
        <img src="{{page.laptop}}" alt="{{page.title}} Preview" class="img-fluid rounded-4">
        {% else %}
        <img src="{{page.image-thumb}}" alt="{{page.title}} Preview" class="img-fluid mb-4">
        {% endif %}
      </div>
    </div>
    {% if page.score-1 %}
    <div class="row {{page.sub-nav}} mt-5">
      <div class="col">{% include stat-counter.html %}</div>
    </div>
    {% endif %}
  </div>
</div>