<div class="container d-flex flex-row align-items-center nav-thumbs justify-content-between py-5">
  {%if page.previous.url %}
      {% if page.previous.image-thumb %}
        <div class="text-start col-6 ps-3">
          <div class="vstack align-items-center animate__animated arrow-hover">
            <a href="{{ page.previous.url }}"><img src="{{page.previous.image-thumb}}" class="img-fluid" data-aos="flip-left" data-aos-duration="500"></a>
            <h6 class="text-start mt-3 fw-semibold text-uppercase letter-spacing"><i class="pe-2 fa fa-arrow-left-long"></i>{{page.previous.title}}</h6>
          </div>
       </div>
      {% endif %}
  {% endif %}
  {%if page.next.url %}
      {% if page.next.image-thumb %}
        <div class="text-end col-6 align-items-top pe-3">
          <div class="vstack align-items-center animate__animated arrow-hover">
          <a href="{{ page.next.url }}"><img src="{{page.next.image-thumb}}" class="img-fluid" data-aos="flip-left" data-aos-duration="500"></a>
          <a href="{{ page.next.url }}"><h6 class="text-end mt-3 fw-semibold text-uppercase letter-spacing">{{page.next.title}}<i class="ps-2 fa fa-arrow-right-long"></i></h6></a>
        </div>
        </div>
      {% endif %}
  {% endif %}
</div>