<h2 class="text-center"><i class="fa-solid fa-gauge-high pe-1 text-white"></i> Google PageSpeed Insight Scores</h2>
<div class="d-flex flex-wrap justify-content-evenly align-items-center px-5">
    <div class="d-flex flex-column text-center p-5 align-items-center">
        <h2>{{ page.score-1}}%</h2>
        <h4 class="text-center pt-3 text-white text-uppercase">Performance</h4>
    </div>
    <div class="d-flex flex-column text-center p-5 align-items-center">
        <h2>{{ page.score-2}}%</h2>
        <h4 class="text-center pt-3 text-white text-uppercase">Accessibility</h4>
    </div>
    <div class="d-flex flex-column text-center p-5 align-items-center">
        <h2>{{ page.score-3}}%</h2>
        <h4 class="text-center pt-3 text-white text-uppercase">Best Practices</h4>
    </div>
    <div class="d-flex flex-column text-center p-5 align-items-center">
        <h2>{{ page.score-4}}%</h2>
        <h4 class="text-center pt-3 text-white text-uppercase">SEO</h4>
    </div>
</div>