@import "/assets/css/fontawesome.min.css";
@import "/assets/css/brands.css";
div.footer {
  background: #000000;
  color: rgb(255, 255, 255);
  transition: all 0.5s ease-out;
  border-top: 1px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-color: white;
  border-style: solid;
}

/*
div.footer img, div.footer a, div.footer svg {
  opacity: 0.7;
  transition: all 0.5s ease-out;
}
 div.footer:hover img, div.footer:hover a, div.footer:hover svg {
  opacity: 1;
  animation: FadeIn;
  transition: all 0.5s ease-in-out;
}
div.footer:hover {
  color: rgba(255, 255, 255, 1);
  animation: FadeIn;
  transition: all 0.5s ease-in-out;
} */
div.footer a {
  color: #ffc0cb;
}

svg.logo-footer {
  fill: white;
  width: 150px;
}

div.footer svg.logo-footer g#text {
  fill: black;
  animation: FadeIn;
  transition: all 0.5s ease-in-out;
}

div.platform {
  width: 400px;
}

/*
div.footer:hover svg.logo-footer g#text {
    fill: #ffc0cb; 
    animation: fadeIn;
   transition: all 0.5s ease-in-out;
}
*/
input[type=text] {
  padding: 1rem;
}

.navbar-nav {
  --bs-nav-link-padding-y: 0px;
}

.navbar-dark {
  --bs-navbar-active-color: #ffc0cb;
  --bs-navbar-hover-color: #ffc0cb;
  --bs-navbar-color: white;
}

.dropdown-menu {
  --bs-dropdown-bg: black !important;
  --bs-dropdown-link-color: white;
  --bs-dropdown-link-hover-bg: #ffc0cb;
  border-bottom-width: 0.3rem;
  border-bottom-style: solid;
  border-bottom-color: #ffc0cb;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dropdown-menu li a {
  background-position: right bottom;
}

.dropdown-menu li a:hover {
  background: linear-gradient(to left, black 50%, #ffc0cb 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.3s ease-out;
  color: black;
}

a.dropdown-item {
  font-size: 1.3rem;
}

active.dropdown-item, .dropdown-item:active {
  background-color: #ffc0cb;
  color: black;
}

body {
  font-family: "fieldwork-hum", sans-serif;
  background: #ffffff;
  color: #000000;
  font-weight: 400;
  font-style: normal;
  list-style: none;
  padding-left: 0px;
  font-size: 1.3rem;
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

div.highlight p, p.introduction, p {
  font-family: "europa", "quatro-slab", san-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

p.introduction {
  margin-bottom: 2rem;
}

p.alt, li.alt {
  font-family: "fieldwork-hum", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  line-height: 2rem;
}

nav {
  background: rgba(0, 0, 0, 0.9);
  font-family: "fieldwork-hum", sans-serif;
  font-size: 1.2rem;
}

body a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  letter-spacing: 0.1rem;
}

h4 {
  font-size: 1.3rem;
}

h4 span.category {
  border-bottom: thick #ffc0cb;
  border-width: 0.2rem;
  border-bottom-style: solid;
}

.border-coin {
  border-color: #fcdfe3 !important;
}

.text-theme-blue {
  color: #16384e;
}

.bg-coin {
  background-color: #ffffff !important;
}

.bg-coin:hover {
  color: #16384e;
  background-color: #ffffff !important;
}

.masthead h5 {
  font-size: 1.1rem;
  font-weight: 800;
}

.masthead h1.name {
  margin-top: 8rem;
  font-family: "quatro-slab", serif;
  font-weight: 600;
  letter-spacing: 0.3rem;
  font-size: 5rem;
}

h1 {
  font-family: "quatro-slab", serif;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 3rem;
}

h1 span {
  display: inline-block;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  letter-spacing: 0rem;
}

h2, h3, h4 {
  font-family: "quatro-slab", serif;
  font-weight: 600;
}

.cursor-zoom {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.website-design h1 {
  font-family: "quatro-slab", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
}

.website-design h1 span {
  font-family: "quatro-slab", serif;
  font-weight: 400;
  font-style: italic;
}

.btn-hireme i {
  color: pink;
}

.btn-hireme {
  color: white !important;
  border-color: white;
}

.btn-hireme:hover {
  border-color: white !important;
  color: #ffc0cb !important;
}

/* .btn-hireme {
  position: relative;
  border-color: white;
  color: white;
  border-radius: 10px !important;
  display: flex;
  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    border-color: pink;
    border-style: solid;
    transition: all 0.35s;
    content: "";
    z-index: 1;
    }
  &::before {
    width: 0;
    height: 100%;
    border-width: 1px 0 1px 0;
  }
  &::after {
    width: 100%;
    height: 0;
    border-width: 0 1px 0 1px;
  }
  &:hover {
    border-color: pink;
    color: pink;
    &::before {
      width: 100%;
      border-width: 1px 0 1px 0;
    }
    &::after {
      height: 100%;
      border-width: 0 1px 0 1px;
    }
  }
}
button.btn-hireme:hover i {
  color: pink !important;
}
*/
.masthead {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
}

.masthead h1 {
  font-family: "quatro-slab", serif;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 12px;
  text-shadow: 3px 3px #1b2022;
  padding-bottom: 20px;
}

h4.hero {
  font-family: fieldwork-hum, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: capitalize;
  text-shadow: -0.1rem 0.2rem 0.1rem black;
  line-height: 2.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-radius: 0.5rem;
}

.masthead.kominka {
  background-image: url("/assets/img/kominka-resize.jpg");
  background-size: cover;
  position: relative;
  background-position: center center;
  -webkit-transition: background-image 3s ease-in;
  transition: background-image 3s ease-in;
  min-height: 80vh;
}

.masthead.seeds {
  background-image: url("/assets/img/portfolio/ultra-trading/sesame-seeds-black.jpg");
  background-size: cover;
  position: relative;
  background-position: center center;
  -webkit-transition: background-image 3s ease-in;
  transition: background-image 3s ease-in;
  min-height: 80vh;
}

.masthead.smile {
  background-image: url("/assets/img/portfolio/rlc/rlc-landing.jpg");
  background-size: cover;
  position: relative;
  background-position: top center;
  -webkit-transition: background-image 3s ease-in;
  transition: background-image 3s ease-in;
  min-height: 80vh;
}

.masthead.bds {
  background-image: url("/assets/img/portfolio/blackdoor/blackdoor_001.jpg");
  background-size: cover;
  position: relative;
  background-position: top center;
  -webkit-transition: background-image 3s ease-in;
  transition: background-image 3s ease-in;
  min-height: 80vh;
}

.masthead.wolfbanner {
  background-image: url("/assets/img/portfolio/royal-wolf-events/royal-wolf-events-01.jpg");
  background-size: cover;
  position: relative;
  background-position: top center;
  -webkit-transition: background-image 3s ease-in;
  transition: background-image 3s ease-in;
  min-height: 80vh;
}

.masthead.chambray {
  background-image: url("/assets/img/portfolio/kneedeepvintage/mansize-1-full-knee-deep-chambray.jpg");
  background-size: cover;
  position: relative;
  background-position: top center;
  -webkit-transition: background-image 3s ease-in;
  transition: background-image 3s ease-in;
  min-height: 80vh;
}

.masthead.vasquez {
  background-image: url("/assets/img/vasquez.jpg");
  background-size: cover;
  position: relative;
  background-position: center center;
  -webkit-transition: background-image 3s ease-in;
  transition: background-image 3s ease-in;
  min-height: 80vh;
}

.masthead.hunauma {
  background-image: url("/assets/img/hunauma.jpg");
  background-size: cover;
  position: relative;
  background-position: center center;
  -webkit-transition: background-image 3s ease-in;
  transition: background-image 3s ease-in;
  min-height: 80vh;
}

div.statement {
  background-color: #16384e;
  color: white;
}

div.statement a {
  color: #ffc0cb;
}

div.image-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.2rem;
}
@media (min-width: 700px) {
  div.image-caption {
    width: 25%;
  }
}

.btn-primary {
  background-color: #16384e;
}

.card-body a {
  color: #EC5656 !important;
  border-bottom: 3px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
}

.card-body a:hover {
  color: #16384e !important;
}

.blink {
  animation: blinker 2.5s linear infinite;
  fill: pink;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
g.circle {
  fill: pink;
  filter: drop-shadow(1px 1px 5px pink);
}

svg#site-logo {
  display: block;
}

nav.navbar g#text {
  transition: all 0.5s ease-out;
  fill: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
svg.raygun-logo {
  min-height: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
}

g#main_logo {
  fill: white;
}

form {
  transition: all 0.5s ease-out;
}

.send-button {
  background-color: #ffc0cb;
  border-color: #ffc0cb;
  color: black;
}

.send-button:hover {
  background-color: white;
  color: white;
}

.send-button:hover i {
  transform: translateX(10px);
  transition: all 0.5s ease-out;
}

.scroll-full {
  width: 100%;
  height: 637px;
  overflow: hidden;
}

.scroll-full img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transition: all 1.6s ease-in-out;
}

.scroll-full:hover img {
  object-position: bottom center;
}

.scroll-full-sm {
  width: 100%;
  height: 710px;
  overflow: hidden;
}

.scroll-full-sm img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transition: all 1.6s ease-in-out;
}

.scroll-full-sm:hover img {
  object-position: bottom center;
}

.scroll-full-cs {
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.scroll-full-cs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transition: all 1.6s ease-in-out;
}

.scroll-full-cs:hover img {
  object-position: bottom center;
}

@supports not (-webkit-touch-callout: none) {
  div.halftone {
    background: url("/assets/img/backgrounds/halftone-test-2.png");
    background-position: center;
    background-repeat: repeat;
    background-size: auto 749px;
    background-blend-mode: multiply;
    background-attachment: fixed;
  }
}

div.wap, div.ftt {
  overflow-x: hidden;
}

div.statement .text-date {
  color: #75cce9;
  letter-spacing: 0.08rem;
}

.header-spacing {
  letter-spacing: 0.08rem;
}

h5.case-study {
  font-weight: 800;
  font-family: "quatro-slab", serif;
}

.blink.utl, g.circle.utl, i.utl, div.footer.utl i, div.footer.utl a {
  fill: #f9b275;
  color: #f9b275;
}

div.highlight.utl {
  background-color: #101219;
  color: #f9b275;
}

div.highlight.utl h1, div.highlight.utl h2, div.highlight.utl h3, div.highlight.utl h4, div.highlight.utl h5, div.highlight.utl h6, div.highlight.utl a {
  color: #f9b275;
}

div.highlight.utl p, div.highlight.utl ul, div.highlight.utl li {
  color: #FFFFFF;
}

div.utl h2.case-study {
  letter-spacing: 0;
}

.dropdown-item.active.utl {
  background: #f9b275;
  color: #101219;
}

h4 span.category.utl {
  border-bottom: thick #f9b275;
  border-width: 0.2rem;
  border-bottom-style: solid;
}

div.utl a {
  color: #f9b275;
}

h4.utl {
  color: #f9b275;
  text-transform: uppercase;
}

.navbar-dark a.active.utl {
  --bs-navbar-active-color: #f9b275;
}

div.highlight.utl a.alt-link {
  color: #f9b275;
}

.row.utl li.left-bar {
  border-left: 3px solid #f9b275;
  margin-bottom: 15px;
  padding-left: 1rem;
}

.blink.gww, g.circle.gww, i.gww, div.footer.gww i, div.footer.gww a {
  fill: #C3E2E2;
  color: #C3E2E2 !important;
}

div.highlight.gww {
  background-color: #C3E2E2;
  color: #4D3832;
}

div.halftone-gww {
  background: url("/assets/img/portfolio/gnarware-workshop/halftone-gnarware-workshop.png");
  background-position: center;
  background-repeat: repeat;
  background-size: auto 749px;
  background-attachment: fixed;
}

div.highlight.gww h1, div.highlight.gww h2, div.highlight.gww h3, div.highlight.gww h4, div.highlight.gww h5, div.highlight.gww h6, div.highlight.gww a {
  color: #C3E2E2;
}

div.highlight.gww p, div.highlight.gww ul, div.highlight.gww li {
  color: #FFFFFF;
}

div.gww h2.case-study {
  letter-spacing: 0;
}

.dropdown-item.active.gww {
  background: #C3E2E2;
  color: #4D3832;
}

h4 span.category.gww {
  border-bottom: thick #C3E2E2;
  border-width: 0.2rem;
  border-bottom-style: solid;
}

div.gww a {
  color: #EC5656;
}

h4.gww {
  color: #CB9272;
  text-transform: uppercase;
}

.navbar-dark a.active.gww {
  --bs-navbar-active-color: #C3E2E2;
}

div.highlight.gww a.alt-link {
  color: #C3E2E2;
}

.row.gww li.left-bar {
  border-left: 3px solid #EC5656;
  margin-bottom: 15px;
  padding-left: 1rem;
}

.blink.rlcw, g.circle.rlcw, i.rlcw, div.footer.rlcw i, div.footer.rlcw a {
  fill: #DF4F4F;
  color: #DF4F4F;
}

div.highlight.rlcw {
  background-color: #DF4F4F;
}

div.halftone-rlcw {
  background: url("/assets/img/portfolio/redletterclay/halftone-redletterclay.png");
  background-position: center;
  background-repeat: repeat;
  background-size: auto 749px;
  background-attachment: fixed;
}

div.highlight.rlcw h1, div.highlight.rlcw h2, div.highlight.rlcw h3, div.highlight.rlcw h4, div.highlight.rlcw h5, div.highlight.rlcw h6, div.highlight.rlcw a {
  color: white;
}

div.highlight.rlcw p, div.highlight.rlcw ul, div.highlight.rlcw li {
  color: white;
}

div.rlcw h2.case-study {
  letter-spacing: 0;
}

.navbar a.active.rlcw {
  color: #DF4F4F;
}

.dropdown-item.active.rlcw {
  background: #DF4F4F;
  color: white !important;
}

h4 span.category.rlcw {
  border-bottom: thick #c12121;
  border-width: 0.2rem;
  border-bottom-style: solid;
}

.row.rlcw li.left-bar {
  border-left: 3px solid #c12121;
  margin-bottom: 15px;
  padding-left: 1rem;
}

h2.rlcw {
  color: #6E4E3C;
}

h4.rlcw {
  color: #c12121;
  text-transform: uppercase;
}

div.rlcw a.alt {
  color: #c12121;
}

div.highlight.rlc {
  background-color: #064032;
}

div.halftone-rlc {
  background: url("/assets/img/portfolio/rlc/halftone-red-letter-clay.png");
  background-position: center;
  background-repeat: repeat;
  background-size: auto 749px;
  background-attachment: fixed;
}

div.highlight.rlc h1, div.highlight.rlc h2, div.highlight.rlc h3, div.highlight.rlc h4, div.highlight.rlc h5, div.highlight.rlc h6, div.highlight.rlc a {
  color: white;
}

div.highlight.rlc p, div.highlight.rlc ul, div.highlight.rlc li {
  color: white;
}

div.rlc h2.case-study {
  letter-spacing: 0;
}

.navbar-dark a.active.rlc {
  --bs-navbar-active-color: white;
}

.dropdown-item.active.rlc {
  background: #064032;
  color: white;
}

h4 span.category.rlc {
  border-bottom: thick #2e1607;
  border-width: 0.2rem;
  border-bottom-style: solid;
}

.blink.pa, g.circle.pa, i.pa, div.footer.pa i, div.footer.pa a {
  fill: #76c6b7;
  color: #76c6b7;
}

div.highlight.pa {
  background-color: #000000;
}

.navbar-dark a.active.pa {
  --bs-navbar-active-color: #76c6b7;
}

.dropdown-item.active.pa {
  background: #76c6b7;
  color: #000000;
}

h4 span.category.pa {
  border-bottom: thick #76c6b7;
  border-width: 0.2rem;
  border-bottom-style: solid;
}

h4.pa {
  color: #4d7cc3;
  text-transform: uppercase;
}

div.pa a {
  color: #4d7cc3;
}

div.pa h2 {
  color: black;
  letter-spacing: 0rem;
}

.row.pa li.left-bar {
  border-left: 3px solid #4d7cc3;
  margin-bottom: 15px;
  padding-left: 1rem;
}

div.highlight.pa h1, div.highlight.pa h2, div.highlight.pa h3, div.highlight.pa h4, div.highlight.pa h5, div.highlight.pa h6, div.highlight.pa a {
  color: #76c6b7;
}

div.highlight.pa p, div.highlight.pa ul, div.highlight.pa li {
  color: white;
}

div.highlight.pa img.img-thumbnail {
  background-color: white;
  border-color: white;
}

.blink.lm, g.circle.lm, i.lm, div.footer.lm i, div.footer.lm a {
  fill: #e8b468;
  color: #e8b468;
}

div.highlight.lm {
  background-color: #e8b468;
}

div.halftone-lm {
  background: url("/assets/img/portfolio/liz-mccarthy/halftone-liz-mccarthy.png");
  background-position: center;
  background-repeat: repeat;
  background-size: auto 749px;
  background-attachment: fixed;
}

.navbar-dark a.active.lm {
  --bs-navbar-active-color: #e8b468;
}

.dropdown-item.active.lm {
  background: #e8b468;
  color: black;
}

h4 span.category.lm {
  border-bottom: thick #e8b468;
  border-width: 0.2rem;
  border-bottom-style: solid;
}

div.lm a {
  color: #382c10;
}

div.lm h2 {
  color: black;
  letter-spacing: 0rem;
}

div.highlight.lm h1, div.highlight.lm h2, div.highlight.lm h3, div.highlight.lm h4, div.highlight.lm h5, div.highlight.lm h6, div.highlight.lm a {
  color: #382c10;
}

div.highlight.lm p, div.highlight.lm ul, div.highlight.lm li {
  color: black;
}

.border-lm {
  --bs-border-color: #f3f3f3;
  --bs-border-width: 0.4rem;
}

.blink.wap, g.circle.wap, i.wap, div.footer.wap i, div.footer.wap a {
  fill: #eaf1c1;
  color: #eaf1c1;
}

div.highlight.wap {
  background-color: #eaf1c1;
}

div.halftone-wap {
  background: url("/assets/img/portfolio/WAP/halftone-women-and-prison.png");
  background-position: center;
  background-repeat: repeat;
  background-size: auto 749px;
  background-attachment: fixed;
}

.navbar-dark a.active.wap {
  --bs-navbar-active-color: #eaf1c1;
}

.dropdown-item.active.wap {
  background: #eaf1c1;
  color: #55321b;
}

h4 span.category.wap {
  border-bottom: thick #eaf1c1;
  border-width: 0.2rem;
  border-bottom-style: solid;
}

div.highlight.wap h1, div.highlight.wap h2, div.highlight.wap h3, div.highlight.wap h4, div.highlight.wap h5, div.highlight.wap h6, div.highlight.wap a {
  color: #55321b;
}

div.highlight.wap p, div.highlight.wap ul, div.highlight.wap li {
  color: #55321b;
}

div.highlight.wap a.alt-link {
  color: #ed6709;
}

div.wap a {
  color: #ed6709;
}

div.wap h2 {
  color: #55321b;
  letter-spacing: 0rem;
}

div.wap h4 {
  color: #95a91a;
}

.row.wap li.left-bar {
  border-left: 3px solid #95a91a;
  margin-bottom: 15px;
  padding-left: 1rem;
}

h1.wap {
  letter-spacing: 0rem;
  color: #55321b;
}

h4.wap {
  color: #95a91a;
  text-transform: uppercase;
}

h5.wap {
  font-family: "quatro-slab", serif;
  font-weight: 800;
  color: #55321b;
}

.blink.tog, g.circle.tog, i.tog, div.footer.tog i, div.footer.tog a {
  fill: hsl(45, 100%, 81%);
  color: hsl(45, 100%, 81%);
}

div.highlight.tog {
  background-color: #a66761;
}

div.tog {
  background-color: black;
}

div.halftone-tog {
  background: url("/assets/img/portfolio/the-other-guantanamo/halftone-the-other-guantanamo.png");
  background-position: center;
  background-repeat: repeat;
  background-size: auto 749px;
  background-attachment: fixed;
}

h4 span.category.tog {
  border-bottom: thick hsl(45, 100%, 81%);
  border-width: 0.2rem;
  border-bottom-style: solid;
}

.navbar-dark a.active.tog {
  --bs-navbar-active-color: hsl(45, 100%, 81%);
}

.dropdown-item.active.tog {
  background: hsl(45, 100%, 81%);
  color: black;
}

div.highlight.tog h1, div.highlight.tog h2, div.highlight.tog h3, div.highlight.tog h4, div.highlight.tog h5, div.highlight.tog h6, div.highlight.tog a {
  color: hsl(45, 100%, 81%);
}

div.highlight.tog p, div.highlight.tog ul, div.highlight.tog li {
  color: white;
}

div.highlight.tog img.img-thumbnail {
  background-color: white;
  border-color: white;
}

.row.tog li.left-bar {
  border-left: 3px solid hsl(45, 100%, 81%);
  margin-bottom: 15px;
  padding-left: 1rem;
}

div.tog h2.case-study {
  letter-spacing: 0;
}

div.highlight.kdv {
  background-color: white;
}

.blink.kdv, g.circle.kdv, i.kdv, div.footer.kdv i, div.footer.kdv a {
  fill: #73868f;
  color: #73868f;
}

.navbar-dark a.active.kdv {
  --bs-navbar-active-color: #73868f;
}

.dropdown-item.active.kdv {
  background: #73868f;
  color: white;
}

h4 span.category.kdv {
  border-bottom: thick white;
  border-width: 0.2rem;
}

div.kdv-dark h2.case-study {
  letter-spacing: 0;
}

div.highlight.kdv-dark {
  background-color: #73868f;
}

div.halftone-kdv {
  background: url("/assets/img/portfolio/kneedeepvintage/halftone-knee-deep-vintage.png");
  background-position: center;
  background-repeat: repeat;
  background-size: auto 749px;
  background-attachment: fixed;
}

div.highlight.kdv-dark h1, div.highlight.kdv-dark h2, div.highlight.kdv-dark h3, div.highlight.kdv-dark h4, div.highlight.kdv-dark h5, div.highlight.kdv-dark h6, div.highlight.kdv-dark a, div.highlight.kdv-dark p, div.highlight.kdv-dark ul, div.highlight.kdv-dark li {
  color: white;
}

div.highlight.kdv h1, div.highlight.kdv h2, div.highlight.kdv h3, div.highlight.kdv h4, div.highlight.kdv h5, div.highlight.kdv h6, div.highlight.kdv a {
  color: #73868f;
}

div.highlight.kdv p, div.highlight.kdv ul, div.highlight.kdv li {
  color: black;
}

div.highlight.kdv img.img-thumbnail {
  background-color: white;
  border-color: white;
}

div.kdv-dark.highlight a {
  color: #feaafd;
}

div.kdv-dark a.alt-link {
  color: white;
}

div.highlight.blackdoor {
  background-color: black;
}

div.highlight.blackdoor h1, div.highlight.blackdoor h2, div.highlight.blackdoor h3, div.highlight.blackdoor h4, div.highlight.blackdoor h5, div.highlight.blackdoor h6, div.highlight.blackdoor a {
  color: white;
}

div.highlight.blackdoor p, div.highlight.blackdoor ul, div.highlight.blackdoor li {
  color: white;
}

div.highlight.blackdoor img.img-thumbnail {
  background-color: white;
  border-color: white;
}

.navbar-dark a.active.blackdoor {
  --bs-navbar-active-color: black;
}

.dropdown-item.active.blackdoor {
  background: white;
  color: black;
}

div.highlight.rwe {
  background-color: #dac9ad;
}

.blink.rwe, g.circle.rwe, i.rwe, div.footer.rwe i, div.footer.rwe a {
  fill: #dac9ad;
  color: #dac9ad;
}

h4 span.category.rwe {
  border-bottom: thick #dac9ad;
  border-width: 0.2rem;
  border-bottom-style: solid;
}

div.halftone-rwe {
  background: url("/assets/img/portfolio/royal-wolf-events/halftone-royal-wolf-events.png");
  background-position: center;
  background-repeat: repeat;
  background-size: auto 749px;
  background-attachment: fixed;
}

div.highlight.rwe h1, div.highlight.rwe h2, div.highlight.rwe h3, div.highlight.rwe h4, div.highlight.rwe h5, div.highlight.rwe h6, div.highlight.rwe a {
  color: #422b25;
}

div.highlight.rwe p, div.highlight.rwe ul, div.highlight.rwe li {
  color: #4b3818;
}

div.highlight.rwe img.img-thumbnail {
  background-color: white;
  border-color: white;
}

.navbar-dark a.active.rwe {
  --bs-navbar-active-color: #dac9ad;
}

.dropdown-item.active.rwe {
  background: #dac9ad;
  color: #4b3818;
}

.blink.ftt, g.circle.ftt, i.ftt, div.footer.ftt i, div.footer.ftt a {
  fill: #ee5042;
  color: #ee5042;
}

div.highlight.ftt {
  background-color: #ead9c1;
}

div.halftone-ftt {
  background: url("/assets/img/portfolio/FTT/halftone-fire-this-time-fund.png");
  background-position: center;
  background-repeat: repeat;
  background-size: auto 749px;
  background-attachment: fixed;
}

.navbar-dark a.active.ftt {
  --bs-navbar-active-color: #ead9c1;
}

.dropdown-item.active.ftt {
  background: #ead9c1;
  color: #513711;
}

h4 span.category.ftt {
  border-bottom: thick #ead9c1;
  border-width: 0.2rem;
  border-bottom-style: solid;
}

div.highlight.ftt h1, div.highlight.ftt h2, div.highlight.ftt h3, div.highlight.ftt h4, div.highlight.ftt h5, div.highlight.ftt h6, div.highlight.ftt a {
  color: #513711;
}

div.highlight.ftt p, div.highlight.ftt ul, div.highlight.ftt li {
  color: #513711;
}

div.highlight.ftt a.alt-link {
  color: #ee5042;
}

div.ftt a {
  color: #ee5042;
}

div.ftt h2 {
  color: #513711;
  letter-spacing: 0rem;
}

.row.ftt li.left-bar {
  border-left: 3px solid #ee5042;
  margin-bottom: 15px;
  padding-left: 1rem;
}

h1.ftt {
  letter-spacing: 0rem;
  color: #513711;
}

h4.ftt {
  color: #c7b69c;
}

h5.ftt {
  font-family: "quatro-slab", serif;
  font-weight: 800;
  color: #513711;
}

.blink.sattb, g.circle.sattb, i.sattb, div.footer.sattb i, div.footer.sattb a {
  fill: #e2daa1;
  color: #e2daa1;
}

div.highlight.sattb {
  background-color: #47625a;
}

div.halftone-sattb {
  background: url("/assets/img/portfolio/sattb/halftone-sattb.png");
  background-position: center;
  background-repeat: repeat;
  background-size: auto 749px;
  background-attachment: fixed;
}

.navbar-dark a.active.sattb {
  --bs-navbar-active-color: #e2daa1;
}

.dropdown-item.active.sattb {
  background: #47625a;
  color: #e2daa1;
}

h4 span.category.sattb {
  border-bottom: thick #e2daa1;
  border-width: 0.2rem;
  border-bottom-style: solid;
}

div.highlight.sattb h1, div.highlight.sattb h2, div.highlight.sattb h3, div.highlight.sattb h4, div.highlight.sattb h5, div.highlight.sattb h6, div.highlight.sattb a {
  color: #e2daa1;
}

div.highlight.sattb p, div.highlight.sattb ul, div.highlight.sattb li {
  color: white;
}

div.highlight.sattb img.img-thumbnail {
  background-color: white;
  border-color: white;
}

div.sattb h2 {
  letter-spacing: 0rem;
}

.blink.coc, g.circle.coc, i.coc, div.footer.coc i, div.footer.coc a {
  fill: #b5062a;
  color: #b5062a;
}

div.highlight.coc {
  background-color: #b5062a;
}

div.halftone-coc {
  background: url("/assets/img/portfolio/coc/halftone-chain-of-change.png");
  background-position: center;
  background-repeat: repeat;
  background-size: auto 749px;
  background-attachment: fixed;
}

.navbar-dark a.active.coc {
  --bs-navbar-active-color: #b5062a;
}

.dropdown-item.active.coc {
  background: #b5062a;
  color: white;
}

h4 span.category.coc {
  border-bottom: thick #b5062a;
  border-width: 0.2rem;
  border-bottom-style: solid;
}

div.highlight.coc h1, div.highlight.coc h2, div.highlight.coc h3, div.highlight.coc h4, div.highlight.coc h5, div.highlight.coc h6, div.highlight.coc a {
  color: white;
}

div.highlight.coc p, div.highlight.coc ul, div.highlight.coc li {
  color: white;
}

div.highlight.coc img.img-thumbnail {
  background-color: white;
  border-color: white;
}

div.highlight.coc {
  background-color: #b5062a;
}

div.highlight.coc h1, div.highlight.coc h2, div.highlight.coc h3, div.highlight.coc h4, div.highlight.coc h5, div.highlight.coc h6, div.highlight.coc a {
  color: white;
}

div.highlight.coc p, div.highlight.coc ul, div.highlight.coc li {
  color: white;
}

div.highlight.coc a.alt-link {
  color: #fff45a;
}

div.coc a {
  color: #00ace5;
}

div.coc h2 {
  color: black;
  letter-spacing: 0rem;
}

.row.coc li.left-bar {
  border-left: 3px solid #b5062a;
  margin-bottom: 15px;
  padding-left: 1rem;
}

div.coc blockquote.left-bar {
  border-left: 3px solid #002f3e;
  margin-bottom: 15px;
  padding-left: 1rem;
}

h1.coc {
  letter-spacing: 0rem;
  color: white;
}

h4.coc {
  color: #b5062a;
  text-transform: uppercase;
}

h5.coc {
  font-family: "quatro-slab", serif;
  font-weight: 800;
  color: white;
}

.blink.hiv, g.circle.hiv, i.hiv, div.footer.hiv i, div.footer.hiv a {
  fill: #3467de;
  color: #3467de;
}

div.highlight.hiv {
  background-color: #3467de;
}

div.halftone-hiv {
  background: url("/assets/img/portfolio/hiv/halftone-hiv-hey-its-viral.png");
  background-position: center;
  background-repeat: repeat;
  background-size: auto 749px;
  background-attachment: fixed;
}

div.highlight.hiv img.img-thumbnail {
  background-color: white;
  border-color: white;
}

.navbar-dark a.active.hiv {
  --bs-navbar-active-color: #3467de;
}

.dropdown-item.active.hiv {
  background: #3467de;
  color: #fffd3a;
}

h4 span.category.hiv {
  border-bottom: thick #3467de;
  border-width: 0.2rem;
  border-bottom-style: solid;
}

div.highlight.hiv h1, div.highlight.hiv h2, div.highlight.hiv h3, div.highlight.hiv h4, div.highlight.hiv h5, div.highlight.hiv h6 {
  color: white;
}

div.highlight.hiv p, div.highlight.hiv ul, div.highlight.hiv li {
  color: white;
}

div.highlight.hiv a, div.hiv a.alt-link {
  color: #fffd3a;
}

div.hiv a {
  color: #3467de;
}

div.hiv h2 {
  color: #3467de;
  letter-spacing: 0rem;
}

.row.hiv li.left-bar {
  border-left: 3px solid #fffd3a;
  margin-bottom: 15px;
  padding-left: 1rem;
}

div.hiv blockquote.left-bar {
  border-left: 3px solid #3467de;
  margin-bottom: 15px;
  padding-left: 1rem;
}

h1.hiv {
  letter-spacing: 0rem;
  color: #3467de;
}

h4.hiv {
  color: #3467de;
  text-transform: uppercase;
}

h5.hiv {
  font-family: "quatro-slab", serif;
  font-weight: 800;
  color: #3467de;
}

.blink.bme, g.circle.bme, i.bme, div.footer.bme i, div.footer.bme a {
  fill: #ff3399;
  color: #ff3399;
}

div.highlight.bme {
  background-color: #49565b;
}

div.halftone-bme {
  background: url("/assets/img/portfolio/beyondmedia/halftone-beyondmedia.png");
  background-position: center;
  background-repeat: repeat;
  background-size: auto 749px;
  background-attachment: fixed;
}

div.highlight.bme h1, div.highlight.bme h2, div.highlight.bme h3, div.highlight.bme h4, div.highlight.bme h5, div.highlight.bme h6, div.highlight.bme a {
  color: white;
}

div.highlight.bme p, div.highlight.bme ul, div.highlight.bme li {
  color: white;
}

div.highlight.bme img.img-thumbnail {
  background-color: white;
  border-color: white;
}

div.highlight.bme a.alt-link {
  color: #ff3399;
}

.navbar-dark a.active.bme {
  --bs-navbar-active-color: #ff3399;
}

.dropdown-item.active.bme {
  background: #ff3399;
  color: white;
}

h4.bme {
  color: #ff3399;
  text-transform: uppercase;
}

h4 span.category.bme {
  border-bottom: thick #ff3399;
  border-width: 0.2rem;
  border-bottom-style: solid;
}

div.bme h2 {
  color: #49565b;
  letter-spacing: 0rem;
}

.row.bme li.left-bar {
  border-left: 3px solid #ff3399;
  margin-bottom: 15px;
  padding-left: 1rem;
}

div.bme blockquote.left-bar {
  border-left: 3px solid #ff3399;
  margin-bottom: 15px;
  padding-left: 1rem;
}

/*# sourceMappingURL=main.css.map */