<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% seo %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
    <link rel="stylesheet" href="https://use.typekit.net/jze7bee.css">
    <link href="/assets/img/favicon.png" type="image/x-icon" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
    <!-- Animate on Scroll Files-->
    <link rel="stylesheet" href="/assets/css/aos.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="preload" href="/assets/img/vasquez.jpg" as="image">
    <script src="/assets/js/aos.js"></script>
  </head>
  <body>
    {% include nav-transparent.html %}
    <div class="container-fluid highlight pt-5 {{page.sub-nav}} {% if page.sub-nav %}halftone-{{page.sub-nav}}{% else %}halftone-indigo{% endif %}">
      <div class="container pb-5">
        <div class="row">
          <div class="col">
            <h1 class="fst-italic fw-light animate__animated animate__fadeIn text-center">Websites don't have to be alien technology.</h1>
            <h5 class="type-3 text-center text-uppercase eyebrow mt-3 mt-sm-0 animate__animated animate__fadeIn">Empowering businesses and nonprofits with accessible & affordable digital solutions</h5>
            <h3 class="mt-4 text-end fst-italic fw-semibold" data-aos="flip-up" data-aos-delay="400"><a href="/contact/" class="text-decoration-none">Introduce yourself <span class="fw-light">&</span> get started today <i class="ps-4 fa fa-arrow-right-long" data-aos="fade-right" data-aos-delay="600"></i></a></h3>
          </div>
        </div>
      </div>
    </div>
    {% include case-study.html %}
      <div class="container-fluid highlight {{page.sub-nav}} halftone-{{page.sub-nav}} sticky-top pt-2">
        <div class="d-flex container justify-content-between align-items-center py-1">
          <div>
            {%if page.previous.url %}
              <h2><a href="{{ page.previous.url}}"><i class="fa-solid fa-angles-left opacity-75"></i></a></h2>
            {% endif %}
          </div>
          <div>
            {% if page.url-link %}
              <h5 class="fw-normal"><a href="{{page.url-link}}" target="_blank" class="alt-link"><i class="fa-solid fa-link pe-1"></i> {{page.url-title}}</a></h5>
            {% else %}
              <h4 class="fw-bold text-uppercase">{{page.title}}</h4>
            {% endif %}
          </div>
          <div>
            <h5 class="fw-normal"><a href="/portfolio/" class="rounded rounded-circle">Portfolio</a></h5>
          </div>
          <div>
            {%if page.next.url %}
              <h2><a href="{{ page.next.url}}"><i class="fa-solid fa-angles-right opacity-75"></i></a></h2>
            {% endif %}
          </div>
        </div>
      </div>
    {{ content }}
    <div class="container-fluid highlight {{page.sub-nav}} halftone-{{page.sub-nav}} border-top border-1 border-light border-opacity-25">
      {% include nav-thumbs.html %}
    </div>
  </div>
  {% include footer.html %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script type="text/javascript">
      const lightbox = GLightbox({
        touchNavigation: true,
        loop: false,
        openEffect: 'bounce', // Define that we want the bounce animation on open
        cssEfects: {
          // register our new animation
          bounce: { in: 'pulse', out: 'pulse' }
        },
        closeEffect: "none",
        autoplayVideos: true
      });
    </script>
     <!-- AOS init -->
  <script>
    AOS.init(
      {
        startEvent: 'DOMContentLoaded',
        easing: 'ease-in-out',
        duration: 600,
      }
    );
    window.addEventListener('load', AOS.refresh);
  </script>

<script type="text/javascript">
    var myLightbox = GLightbox({
      'selector': '.glightboxGallery',
      'openEffect': 'none',
      'closeEffect': 'none',
      'height': '100vh',
      'loop': false,
      'zoomable': false,
      'width': '100vw'
    });
</script>
    <script src="https://kit.fontawesome.com/90da15346b.js" crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YJW234TJNJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YJW234TJNJ');
    </script>
  </body>
</html>
