<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% seo %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://use.typekit.net/jze7bee.css">
    <link href="/assets/img/favicon.png" type="image/x-icon" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <!-- Animate on Scroll Files-->
    <link rel="stylesheet" href="/assets/css/aos.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="preload" href="/assets/img/vasquez.jpg" as="image">
    <script src="/assets/js/aos.js"></script>
  </head>
  <body>
    {% include nav-transparent.html %}
    <div class="container-fluid no-hero g-0">
      <div class="container-fluid statement halftone-indigo">
        <div class="container pb-4">
          <div class="row">
            <div class="col">
                <h1 class="fw-light fst-italic text-center animate__animated animate__fadeIn">Websites don't have to be alien technology.</h1>
                <h3 class="pt-5 fst-italic text-end animate__animated animate__flipInX"><a href="/contact/">Let's get to work. <i class="fa fa-arrow-right-long" aria-hidden="true"></i></a></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="container pt-2">
        <div class="row">
            <div class="col">
              <div class="row d-inline-flex my-3 ps-2">
                <div class="col-2 halftone-rlcw p-3 rounded-2 text-white text-center"><div class="d-block d-md-inline text-center text-md-start"><span class="fw-bold pe-2">Sort <i class="fa-solid fa-arrow-down-wide-short px-2"></i></span></div></div>
                <div class="col flex-wrap animate__animated animate__fadeIn ps-3">
                  <div class="d-inline text-nowrap"><i class="fa-solid fa-location-crosshairs pe-2 opacity-75"></i><a href="{{site.url}}/portfolio/featured/" class="{%if page.tag == "featured"%}current {%endif%}cat pe-4">Featured</a></div>
                  <div class="d-inline text-nowrap"><i class="fa-solid fa-location-crosshairs pe-2 opacity-75"></i><a href="{{site.url}}/portfolio/cms/" class="{%if page.tag == "cms" %}current {%endif%}cat pe-4">CMS</a></div>
                  <div class="d-inline text-nowrap"><i class="fa-solid fa-location-crosshairs pe-2 opacity-75"></i><a href="{{site.url}}/portfolio/photography/" class="{%if page.tag == "photography"%}current {%endif%}cat pe-4">Photography</a></div>
                  <div class="d-inline text-nowrap"><i class="fa-solid fa-location-crosshairs pe-2 opacity-75"></i><a href="{{site.url}}/portfolio/website-design/" class="{%if page.tag == "website design" %}current {%endif%}cat pe-4">Website Design</a></div>
                  <div class="d-inline text-nowrap"><i class="fa-solid fa-location-crosshairs pe-2 opacity-75"></i><a href="{{site.url}}/portfolio/website-development/" class="{%if page.tag == "website development" %}current {%endif%}cat pe-4">Website Development</a></div>
                  <div class="d-inline text-nowrap"><i class="fa-solid fa-location-crosshairs pe-2 opacity-75"></i><a href="{{site.url}}/portfolio/e-commerce/" class="{%if page.tag == "e-commerce" %}current {%endif%}cat pe-4">Ecommerce</a></div>
                  <div class="d-inline text-nowrap"><i class="fa-solid fa-location-crosshairs pe-2 opacity-75"></i><a href="{{site.url}}/portfolio/video/" class="{%if page.tag == "video" %}current {%endif%}cat pe-4">Video</a></div>
                  <div class="d-inline text-nowrap"><i class="fa-solid fa-location-crosshairs pe-2 opacity-75"></i><a href="{{site.url}}/portfolio/marketing/" class="{%if page.tag == "marketing" %}current {%endif%}cat pe-4">Marketing</a></div>
                </div>
              </div>
                {% include collecttags.html %}
                {% for post in site.tags[page.tag] %}
                <div class="row border-bottom align-items-center g-0 py-4" data-aos="fade-up" data-aos-once="true">
                  <div class="col-lg-5 col-md-12 text-center">
                    <a href="{{post.permalink}}" alt="View {{post.title}} Case Study"><img src="{{post.image-thumb}}" class="img-fluid"></a>
                  </div>
                  <div class="col-lg-7 col-md-12 text-center ps-lg-4 ps-md-0">
                    <div class="row mt-5">
                      <div class="col-12">
                        <h1 class="text-uppercase text-center"><a href="{{post.permalink}}" alt="View {{post.title}} Case Study">{{post.title}}</h1>
                          {% if post.sub-title %}<h2><span class="fw-normal text-capitalize">{{post.sub-title}}</span></h2>{%endif%}
                        </a></h1>
                      </div>
                    </div>
                    <div class="row py-5">
                      <div class="col-6 ps-md-5 ps-sm-0">
                        {% if post.involvement %}
                        <h4 class="text-uppercase text-start">Involvement</h4>
                        <ul class="text-start">
                          {% for feat in post.involvement %}
                            <li>{{feat}}</li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </div>
                      <div class="col-6">
                        {% if post.technology %}
                        <h4 class="text-uppercase text-start">Technology</h4>
                        <ul class="text-start">
                          {% for tech in post.technology %}
                          <li>{{tech}}</li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </div>
                    </div>
                    <h3 class="text-uppercase text-end mb-3 zoom-sm"><a href="{{post.permalink}}"><i class="fa-solid fa-magnifying-glass pe-2"></i>View Case Study</a></h3>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
      </div>
  </div>
    {% include footer.html %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/90da15346b.js" crossorigin="anonymous"></script>
    <script>
      AOS.init(
        {
          startEvent: 'DOMContentLoaded',
          easing: 'ease-in-out',
          duration: 600,
        }
      );
      window.addEventListener('load', AOS.refresh);
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YJW234TJNJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YJW234TJNJ');
    </script>
  </body>
</html>