<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% seo %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://use.typekit.net/jze7bee.css">
    <link href="/assets/img/favicon.png" type="image/x-icon" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <!-- Animate on Scroll Files-->
    <link rel="stylesheet" href="/assets/css/aos.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="preload" href="/assets/img/vasquez.jpg" as="image">
    <script src="/assets/js/aos.js"></script>
  </head>
  <body>
    {% include nav-transparent.html %}
    <div class="container-fluid g-0">
      <div class="container-fluid statement halftone-indigo pt-5">
        <div class="container pb-5">
          <div class="row">
            <div class="col">
              <h1 class="fst-italic fw-light animate__animated animate__fadeIn text-center">Websites don't have to be alien technology.</h1>
              <h5 class="type-3 text-center text-uppercase eyebrow mt-3 mt-sm-0 animate__animated animate__fadeIn">Empowering businesses and nonprofits with accessible & affordable digital solutions</h5>
              <h3 class="mt-4 text-end fst-italic fw-semibold animate__animated arrow-hover" data-aos="flip-up" data-aos-delay="400"><a href="/contact/" class="text-decoration-none">Introduce yourself <span class="fw-light">&</span> get started today <i class="ps-0 ps-sm-4 fa fa-arrow-right-long" data-aos="fade-right" data-aos-delay="600"></i></a></h3>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid statement halftone-indigo">
      <div class="container pt-2">
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-center text-center my-4 pb-2">
              <div class="flex-grow-1 border-top" data-aos="fade-right"></div>
              <h1 class="fw-normal px-5 mb-2" data-aos="fade-in">Digital Portfolio</h1>
              <div class="flex-grow-1 border-top" data-aos="fade-left"></div>
          </div>
          <div class="d-flex flex-wrap justify-content-center gap-3">
              <a class="btn px-4 btn-outline-pill-white text-decoration-none" href="/portfolio/" data-aos="flip-up" data-aos-delay="450">
                <i class="fa-solid fa-location-crosshairs pe-2 text-white"></i>All
              </a>
              <a class="btn px-4 btn-outline-pill-white text-decoration-none {% if page.tag == "websites" or page.tag == "website development" or page.tag == "website design" or page.tag =="cms" or page.tag =="e-commerce"%}current {%endif%}" href="/portfolio/websites/" data-aos="flip-up" data-aos-delay="550">
                <i class="fa-solid fa-location-crosshairs pe-2"></i>Websites
              </a>
              <a class="btn px-4 btn-outline-pill-white text-decoration-none {% if page.tag == "photography" %}current bg-white text-black {%endif%}" href="/portfolio/photography/" data-aos="flip-up" data-aos-delay="650">
                <i class="fa-solid fa-location-crosshairs pe-2 {% if page.tag == "photography" %}current bg-white text-black {%else%}text-white{%endif%}"></i>Photography
              </a>
              <a class="btn px-4 btn-outline-pill-white text-decoration-none {% if page.tag == "video" %}current bg-white text-black {%endif%}cat" href="/portfolio/video/" data-aos="flip-up" data-aos-delay="750">
                <i class="fa-solid fa-location-crosshairs pe-2 {% if page.tag == "video" %}current bg-white text-black {%else%}text-white{%endif%}"></i>Video
              </a>
              <a class="btn px-4 btn-outline-pill-white text-decoration-none {% if page.tag == "marketing" %}current bg-white text-black {%endif%}" href="/portfolio/marketing/" data-aos="flip-up" data-aos-delay="850">
                <i class="fa-solid fa-location-crosshairs pe-2 {% if page.tag == "marketing" %}current bg-white text-black {%else%}text-white{%endif%}"></i>Marketing
              </a>
          </div>
            {% if page.tag == "websites" or page.tag == "website development" or page.tag == "website design" or page.tag =="cms" or page.tag =="e-commerce" %}  
            <div class="d-flex flex-wrap justify-content-center gap-3 mt-5" data-aos="fade-in" data-aos-delay="700">
              <div class="d-inline text-nowrap"><a href="/portfolio/website-design/" class="{%if page.tag == "website design" %}current {%endif%}cat pe-4 text-decoration-none"><i class="fa-solid fa-brush pe-2 text-white"></i>Website Design</a></div>
              <div class="d-inline text-nowrap"><a href="/portfolio/website-development/" class="{%if page.tag == "website development" %}current {%endif%}cat pe-4 text-decoration-none"><i class="fa-solid fa-square-binary pe-2 text-white"></i>Website Development</a></div>
              <div class="d-inline text-nowrap"><a href="/portfolio/e-commerce/" class="{%if page.tag == "e-commerce" %}current {%endif%}cat pe-4 text-decoration-none"><i class="fa-solid fa-basket-shopping pe-2 text-white"></i>Ecommerce</a></div>
              <div class="d-inline text-nowrap"><a href="/portfolio/cms/" class="{%if page.tag == "cms" %}current {%endif%}cat pe-4 text-decoration-none"><i class="fa-solid fa-sitemap pe-2 text-white"></i>Content Management Systems</a></div>
            </div>
            {% endif %}
              {% include collecttags.html %}
              {% if site.tags[page.tag] %}
              <div class="container mt-4">
                {% for post in site.tags[page.tag] %}
                <div class="row align-items-center g-0 pb-4 my-5" data-aos="fade-up" data-aos-once="true">
                  <div class="col-lg-5 col-md-12 text-center">
                    <a href="{{post.permalink}}" alt="View {{post.title}} Case Study">
                      {% if post.laptop %}
                      <img src="{{post.laptop}}" class="img-fluid">
                      {% else %}
                      <img src="{{post.image-thumb}}" class="img-fluid">
                      {%endif %}
                    </a>
                  </div>
                  <div class="col-lg-7 col-md-12 text-center ps-lg-4 ps-md-0">
                    <div class="row mt-5">
                      <div class="col-12">
                        <h1 class="text-uppercase text-center"><a href="{{post.permalink}}" alt="View {{post.title}} Case Study" class="text-decoration-none">{{post.title}}</h1>
                          {% if post.sub-title %}<h3><span class="fw-normal text-capitalize">{{post.sub-title}}</span></h3>{%endif%}
                        </a></h1>
                      </div>
                    </div>
                    <div class="row py-5">
                      <div class="col-6 ps-md-5 ps-sm-0">
                        {% if post.involvement %}
                        <h4 class="text-uppercase text-start">Involvement</h4>
                        <ul class="text-start">
                          {% for feat in post.involvement %}
                            <li>{{feat}}</li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </div>
                      <div class="col-6">
                        {% if post.technology %}
                        <h4 class="text-uppercase text-start">Technology</h4>
                        <ul class="text-start">
                          {% for tech in post.technology %}
                          <li>{{tech}}</li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </div>
                    </div>
                    <h3 class="text-uppercase text-end mb-3 zoom-sm animate__animated zoom-hover"><a href="{{post.permalink}}"><i class="fa-solid fa-magnifying-glass pe-2"></i>View Case Study</a></h3>
                  </div>
                </div>
                {% endfor %}
                {% else %}
                {% for post in site.posts %}
                <div class="row align-items-center g-0 py-4 my-5" data-aos="fade-up" data-aos-once="true">
                  <div class="col-lg-5 col-md-12 text-center">
                    <a href="{{post.permalink}}" alt="View {{post.title}} Case Study">
                      {% if post.laptop %}
                      <img src="{{post.laptop}}" class="img-fluid">
                      {% else %}
                      <img src="{{post.image-thumb}}" class="img-fluid">
                      {%endif %}
                    </a>
                  </div>
                  <div class="col-lg-7 col-md-12 text-center ps-lg-4 ps-md-0">
                    <div class="row mt-5">
                      <div class="col-12">
                        <h1 class="text-uppercase text-center"><a href="{{post.permalink}}" alt="View {{post.title}} Case Study" class="text-decoration-none">{{post.title}}</h1>
                          {% if post.sub-title %}<h3><span class="fw-normal text-capitalize">{{post.sub-title}}</span></h3>{%endif%}
                        </a></h1>
                      </div>
                    </div>
                    <div class="row py-5">
                      <div class="col-6 ps-md-5 ps-sm-0">
                        {% if post.involvement %}
                        <h4 class="text-uppercase text-start">Involvement</h4>
                        <ul class="text-start">
                          {% for feat in post.involvement %}
                            <li>{{feat}}</li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </div>
                      <div class="col-6">
                        {% if post.technology %}
                        <h4 class="text-uppercase text-start">Technology</h4>
                        <ul class="text-start">
                          {% for tech in post.technology %}
                          <li>{{tech}}</li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </div>
                    </div>
                    <h3 class="text-uppercase text-end mb-3 zoom-sm animate__animated zoom-hover"><a href="{{post.permalink}}"><i class="fa-solid fa-magnifying-glass pe-2"></i>View Case Study</a></h3>
                  </div>
                </div>
                {% endfor %}
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
    {% include footer.html %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/90da15346b.js" crossorigin="anonymous"></script>
    <script>
      AOS.init(
        {
          startEvent: 'DOMContentLoaded',
          easing: 'ease-in-out',
          duration: 600,
        }
      );
      window.addEventListener('load', AOS.refresh);
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YJW234TJNJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YJW234TJNJ');
    </script>
  </body>
</html>